.recentresults-nba {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
    max-width:80%;
    margin: 0 auto;
  }
  #fixtures-table-nba {
    max-width: 80%;
    margin-left: 100px;
    text-align: center;
  }

  #fixtures-table-nba th {
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }

  .fixtures-header-nba {
    text-align: center;
  }
  
  #fixtures-table-nba td {
    font-size: 2.0rem;
    color:rgb(0,0,0);
    text-align: center;
    max-width: 30%;
  }
  
  #fixtures-table-nba td .logos {
    max-height: 4.0rem;
    max-width: 4.0rem;
  }