.nfl-standings-container {
    display: flex;
    width: 100%;
  }
  
  .national-container {
    flex: 1;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }

  .american-container {
    flex: 1;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: center;
    padding: 12px;
  }

  th {
    background-color: rgb(102, 102, 102);
    color: rgb(0, 0, 0);
  }

  /* Set alternating row background colors */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Set hover styles for rows */
  tbody tr:hover {
    background-color: #ddd;
  }

  /* Set column styles */
  th:first-child,
  td:first-child {
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    font-size: 1.2rem;
    text-align: center;
  }

  /* Set styles for table header */
  #standings-table-nfl-american th {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Set styles for first column */
  #standings-table-nfl-american td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Set styles for team name column */
  #standings-table-nfl-american td:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Set styles for position column */
  #standings-table-nfl-american td:nth-child(1) {
    font-size: 1.2rem;
  }

  /* Set styles for points column */
  #standings-table-nfl-american td:last-child {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  #standings-table-nfl-american tr:nth-child(-n+20) {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
  }

  #standings-table-nfl-american td .rank {
    width: 20%;
    text-align: center;
  }

  #standings-table-nfl-american td .logos {
    max-height: 1.2rem;
    width: auto;
  }

  #standings-table-nfl-american td .team-name {
    width: 70%;
  }

  .americanstandings {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
  }
  
  .americanicon {
    max-height: 2rem;
    max-width: 2rem;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }

  /* Set styles for table header */
  #standings-table-nfl-national th {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Set styles for first column */
  #standings-table-nfl-national td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Set styles for team name column */
  #standings-table-nfl-national td:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Set styles for position column */
  #standings-table-nfl-national td:nth-child(1) {
    font-size: 1.2rem;
  }

  /* Set styles for points column */
  #standings-table-nfl-national td:last-child {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  #standings-table-nfl-national tr:nth-child(-n+20) {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
  }

  #standings-table-nfl-national td .rank {
    width: 20%;
    text-align: center;
  }

  #standings-table-nfl-national td .logos {
    max-height: 1.2rem;
    width: auto;
  }

  #standings-table-nfl-national td .team-name {
    width: 70%;
  }

  .nationalstandings {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 24px;
    width: 100%;
  }
  
  .nationalicon {
    max-height: 2.0rem;
    max-width: 2.0rem;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }