.post {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post-box {
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 16px;
    height: 300px;
  }
  
  .post-title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: white ;
    background-color: var(--secondaryColor);
  }
  
  .post-content {
    font-size: 1.0rem;
    line-height: 1.5;
    color: var(--secondaryColor);
  }
  
  .create-post {
    font-size: 3.0rem;
    color: var(--mainColorLight);
  }
  .post-box {
    position: relative;
  }
  
  .post-meta {
    position: absolute;
    bottom: 0;
    right: -1;
  }
  
  
  .post-likes {
    margin-right: 10px;
  }
  
  .post-timestamp {
    margin-left: 10px;
  }