.post {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    height: 7000;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-content {
    margin-top: 10px;
    text-align: left;
  }
  
  .post-title{
    text-align: center;
  }
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-likes {
    margin-right: 10px;
  }
