.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  position: relative; /* added */
}

.post-title {
  text-align: left;
  margin-bottom: 20px;
}

.post-text {
  text-align: left;
  margin-bottom: 20px;
}

.post-like {
  margin-right: auto;
}

.timestamp {
  position: absolute; /* updated */
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}

.post-content {
  text-align: right;
}